<%if(success && success.length){%>
    <div class="listing-flash green-alert-div"><p class="green-alert-para"><%=success%></p><i class="fa-solid fa-xmark cross"></i></div>
<%}%>

<%if(error && error.length){%>
    <div class="listing-flash red-alert-div"><p class="red-alert-para"><%=error%></p><i class="fa-solid fa-xmark cross"></i></div>
<%}%>