<div class="footer">
    <div class="footer-container">
        <div class="options">
            <a href="#">&copy;Airbnb,Inc.</a>
            <a href="#">Privacy</a>
            <a href="#">Sitemap</a>
            <a href="#">Company details</a>
        </div>
        <div class="social">
             <h3>&#x20B9;INR</h3>
             <i class="fa-brands fa-facebook"></i>
             <i class="fa-brands fa-twitter"></i>
             <i class="fa-brands fa-instagram"></i>
        </div>
    </div>
</div>