<%layout('/layout/boilerplate')%>
<body>
    <div class="contact-div" data-aos="fade-right">
          <h2>Company Details</h2>
          <p>Provide of the website</p>
          <p>Airbnb Ireland UC<br>8 Hanover Quay<br>Dublin 2,D02 DP23<br>Ireland</p>
          <p><b>Directors: </b>Tejas Dhamale</p>
          <p><b>VAT-ID: </b>IE9827384L</p>
          <p><b>Trade Regsiter Number: </b>(Irish Companies Registration Office) IE 511825</p>
          <h2>Contact us :</h2>
          <p><b>Email address : </b><span style="color:rgb(71 71 171); text-decoration: underline;">aryandhamale07@gmail.com</span></p>
          <p><b>Airbnb support : </b><span style="color:rgb(71 71 171); text-decoration: underline;">https://my-wonderlust.onrender.com</span></p>
          <p>If you have a complaint or concern about Airbnb’s platform or violations of Airbnb’s Terms of Service, you may contact the India grievance officer: <br>Airbnb Ireland UC</p>
          <p>attn: Andrea Finnegan, Grievance Officer</p>
          <p>8 Hanover Quay <br>Dublin 2, D02 DP23 <br>Ireland</p>
          <p>Email: grievance-officer-india@airbnb.com</p>
    </div>
</body>