<%layout("/layout/boilerplate")%>
<body>
     <form action="/user/sign-in" method="post" data-aos="fade-right">
        <div class="sign-container">
            <div class="heading">
                 <p>Sign Up To Wonderlust </p>
            </div>
             <div>
                <label for="name">Username</label>
                <i class="fa-solid fa-user"></i>
                <input type="text" id="name" name="username" placeholder="Username" required/>
             </div>
             <div>
                <label for="email">Email</label>
                <i class="fa-solid fa-envelope" style="top: 54%;"></i>
                <input type="email" id="email" name="email" placeholder="Email" required/>
             </div>
             <div>
                <label for="pass">Password</label>
                <i class="fa-solid fa-lock"></i>
                <input type="password" id="pass" name="password" placeholder="Password" required/>
             </div>
             <div>
                <button class="btn">sign-up</button>
             </div>
        </div>
     </form>
</body>